span {
  padding: 0 5px 0 0;
  margin: 0;
}

.divider {
  margin: 15px 0 15px 15px;
  background-color: var(--approved);
  padding: 15px;
  font-weight: 800;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3), -3px -3px 5px 2px rgba(255,255,255,1);
  border-radius: 25px 0 0 25px;
}


.section-title {
  margin-left: 2vw;
}

.policy {
  margin: 15px 15px 15px 4vw;
  max-width: 800px;
  padding: 0;
  background-color: var(--not-approved);
  border-radius: 25px;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3), -3px -3px 5px 2px rgba(255,255,255,1);
}

  .heading {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }



  .policy-title {
    font-weight: 800;
  }


  .content {
    padding: 15px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 1px solid rgba(255,255,255,.5); 
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .approval {
    border-top: 1px solid rgba(255,255,255,.5); 
    padding: 15px;
    margin: 0;
  }

  .status-approved {
    background-color: var(--approved)
  }

  .board-policy {
    background-color: var(--board-policy)
  }
  
.hidden {
  display: none;
  user-select: none;

}
