:root {
  --color0: #ffffff;  
  --color1: #f8f8f8;
  --color1text: black;
  --color2: #ffccbc;
  --color2text: black;
  --color3: #d3e3fc;
  --color3text:black;
  --color4: #77a6f7;
  --color4complement: white;
  --color4text: white;
  --color5: #00887a;
  --color5text: white;
  --dark: black;
  --darktext: white;
  --not-approved: var(--color2);
  --board-policy: var(--color3);
  --approved: white;
}