@import url(colors.css);
@import url(cards.css);
@import url(header.css);
@import url(loading.css);

:root {
  --content-top: 80px;
}

/* Global styles */
body {
    margin: 0 auto;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    background-color: var(--color1);  

}

h1, h2, h3, h4 {
  appearance: none;
  margin: 0;
  text-align: left;
  padding: 0;
}

#sidebar {
  margin: 0 auto;
  padding: 15px;

  top: var(--content-top);
  height: calc(95vh - var(--content-top));

  left: 0;
  width: 250px;

  position: fixed;

  color: var(--color3text);
  user-select: none;
  /* background-image: conic-gradient(at -15% 30%, var(--color3), var(--color2), var(--color1), var(--color3)); */
  background-color: var(--color5);
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3), -3px -3px 5px 2px rgba(255,255,255,1);
  overflow-y: auto;

  font-size: 12px;

  z-index: 100;

}

#sidebar a {
  color: white;
  text-decoration: none;
}

#sidebar a:hover {
  color: var(--color3);
}

#sidebar p {
  margin: 5px;
}

.section-toc-entry {
  padding-left: 10px;
}


#main {
    position: relative;
    padding: 0 0 30px 0;
    top: var(--content-top);
    left: 280px;
    overflow-y: auto;
    max-height: calc(95vh - var(--content-top));
    width: calc(100vw - 280px);
}



@media only screen and (max-width: 1160px) {
  #sidebar, .dropdown, #subscriber-name {
    display: none;
  }

  #main {
    left: 0;
    width: 100vw;
  }

  #main {
    left: 0;
    width: 100vw;
  }


}

