@import url(colors.css);
@import url(cards.css);

body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    background-color: var(--color0);  

}

h1, h2, h3, h4 {
  appearance: none;
}

br {
  display: block;
  line-height: 20px;
}

header {
    margin: 0 auto;
    top: 0;
    padding: 10px;
    width: 100vw;
    position: fixed;
    background-color: var(--color4);
    color: var(--color4text);
    user-select: none;
    z-index: 100;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5)
}

header h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  padding-left: 10px;
}

.sidebar {
  margin: 0 auto;
  top: 0;
  height: 100vh;
  padding: 75px 0 0 25px;
  width: 20vw;
  min-width: 150px;
  position: fixed;
  color: var(--color3text);
  user-select: none;
  /* box-shadow: 2px 2px 5px 0 rgba(46,41,43,.3); */
  background-image: conic-gradient(at -15% 30%, var(--color3), var(--color2), var(--color1), var(--color3));
}

form {
  display: flex;
  flex-direction: row;
}

select {
  padding: 4px;
  margin: 3px;
  border: none;
  border-radius: none;
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--color3);
  margin: 0;
  font: inherit;
  width: .5em;
  height: .5em;
  border: none;
  border-radius: 50%;
  transform: translateY(-0.25em);
}

input[type="checkbox"]:checked {
  background-color: var(--dark);
}

#main {
    margin-top: 75px;
    padding: 0;
}


@media only screen and (min-width: 950px) {


  #main {
      margin-left: 25vw;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #subset {
    width: 18vw;
    min-width: 150px;
  }

}
